* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --primary: #fff;
  --light-primary: #458ff6;
}
html {
  font-size: 10px;
}
body {
  font-size: 10px;
}
/* =======================contaier============================ */
.container {
  width: 100%;
  height: 800vh;
}
.navbar {
  width: 80%;
  height: 10vh;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.left-nav {
  width: 20%;
  height: 10vh;
  display: flex;
  flex-direction: row;
}
.left-nav .logo {
  width: 41px;
  height: 41px;
  background-color: var(--light-primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 2.6em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 40px;
}
.left-nav .trafalgar {
  color: #233348;
  font-family: "Muli", sans-serif;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
}
.right-nav {
  width: 60%;
  height: 10vh;
  display: flex;
  flex-direction: row;
}
.right-nav .list {
  font-family: "Muli", sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.right-nav .list a {
  color: #1f1534;
}
.right-nav .list a:hover {
  color: var(--light-primary);
  transition-duration: 0.3s;
}
.header {
  width: 80%;
  height: 80vh;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
}
.header .left-header {
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.left-header h1 {
  color: #000;
  font-family: "Muli", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
.left-header p {
  color: #7d7987;
  font-family: "Muli", sans-serif;
  font-size: 2.1em;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.left-header a {
  width: 200px;
  height: 56px;
  border-radius: 55px;
  background: #458ff6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.left-header a:hover {
  background-color: var(--primary);
  color: #000;
  transition-duration: 0.3s;
}
.right-header {
  width: 60%;
  height: 80vh;
  background-image: url("../trafalgar-header\ illustration\ 1.png");
  background-position: center;
  background-size: cover;
}
/* ======================main====================================== */
.main {
  width: 90%;
  height: 160vh;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}
.main .top-main {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-main h2 {
  color: #000;
  font-family: "Muli", sans-serif;
  font-size: 3.6em;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
.top-main img {
  width: 56px;
  height: 2px;
  border-radius: 5px;
  background: #000;
}
.top-main p {
  color: #7d7987;
  text-align: center;
  font-family: "Muli", sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-top: 10px;
}
.center-main {
  width: 100%;
  height: 120vh;
  background-image: url("../Vector.png");
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.center-main div {
  width: 350px;
  height: 354px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  display: flex;
  flex-direction: column;
}
.center-main div:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  background-color: var(--light-primary);
}
.center-main div h2 {
  color: #000;
  font-family: "Muli", sans-serif;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-left: 10px;
  margin-top: 10px;
}
.center-main div p {
  color: #7d7987;
  font-family: "Muli", sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin-left: 10px;
}
.center-main div p:hover {
  color: var(--primary);
}
.center-main .search-doctor img {
  width: 91.978px;
  height: 90px;
  margin-left: 10px;
  margin-top: 10px;
}
.center-main .online-pharmacy img {
  width: 61.857px;
  height: 85px;
  margin-top: 10px;
  margin-left: 10px;
}
.center-main .consultation img {
  width: 67.292px;
  height: 95px;
  margin-left: 10px;
  margin-top: 10px;
}
.center-main .details-info img {
  width: 67.075px;
  height: 95px;
  margin-left: 10px;
  margin-top: 10px;
}
.center-main .emergency-care img {
  width: 80px;
  height: 71.155px;
  margin-left: 10px;
  margin-top: 10px;
}
.center-main .tracking img {
  width: 69.422px;
  height: 95px;
  margin-top: 10px;
  margin-left: 10px;
}
.learning {
  width: 80%;
  height: 20vh;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.learning a {
  width: 200px;
  height: 56px;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #458ff6;
  font-family: "Muli", sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.learning a:hover {
  background-color: var(--light-primary);
  transition-duration: 0.3s;
  color: var(--primary);
}
/* =========================section=============================== */
.providers {
  width: 90%;
  height: 100vh;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
}
.left-providers {
  width: 60%;
  height: 100vh;
  background-image: url("../trafalgar-illustration\ sec02\ 1.png");
  background-position: center;
  background-size: cover;
}
.right-providers {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.right-providers h2 {
  color: #000;
  font-family: "Muli", sans-serif;
  font-size: 3.6em;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-left: 40px;
}
.right-providers img {
  width: 56px;
  height: 2px;
  border-radius: 10px;
  background: #000;
  margin-left: 40px;
  margin-top: 20px;
}
.right-providers p {
  color: #7d7987;
  font-family: "Muli", sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-left: 20px;
  margin-top: 10px;
}
.right-providers a {
  width: 200px;
  height: 56px;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #458ff6;
  font-family: "Muli", sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin-top: 10px;
  margin-left: 20px;
}
.right-providers a:hover {
  background-color: var(--light-primary);
  transition-duration: 0.3s;
  color: var(--primary);
}
/* =======================mobile app============================= */
.mobile-app {
  width: 90%;
  height: 100vh;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.left-mobile {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.left-mobile h2 {
  color: #000;
  font-family: "Muli", sans-serif;
  font-size: 3.6em;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-left: 10px;
}
.left-mobile img {
  width: 56px;
  height: 2px;
  border-radius: 6px;
  background: #000;
  margin-left: 10px;
  margin-top: 10px;
}
.left-mobile p {
  color: #7d7987;
  font-family: "Muli", sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-top: 10px;
}
.left-mobile a {
  width: 200px;
  height: 56px;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: #458ff6;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.left-mobile a:hover {
  background-color: var(--light-primary);
  transition-duration: 0.3s;
  color: var(--primary);
}
.right-mobile {
  width: 75%;
  height: 100vh;
  background-image: url("../trafalgar-illustration\ sec03\ 1.png");
  background-position: center;
  background-size: cover;
}
/* ======================customer opininon====================================== */
.customer-opinion {
  width: 80%;
  height: 80vh;
  margin-inline: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background: linear-gradient(208deg, #67c3f3 9.05%, #5a98f2 76.74%);
}
.top-customer {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-customer h2 {
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 3.6em;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
.top-customer hr {
  width: 56px;
  height: 2px;
  border-radius: 6px;
  background: #fff;
  margin-top: 20px;
}
.bottom-customer {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
}
.bottom-customer .left-side {
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.left-side img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.left-side img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
.customer-info {
  width: 100%;
  height: 20vh;
}
.customer-info h2 {
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 2.2em;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-left: 10px;
}
.customer-info p {
  color: rgba(255, 255, 255, 0.85);
  font-family: "Muli", sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-left: 10px;
}
.right-side {
  width: 40%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.right-side p {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Muli", sans-serif;
  font-size: 1.9em;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.direction {
  width: 80%;
  height: 10vh;
  margin-inline: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.direction :nth-child(1) {
  width: 31.429px;
  height: 20px;
  opacity: 0.4;
}
.direction :nth-child(1):hover {
  opacity: 1;
  color: var(--light-primary);
  transition-duration: 0.3s;
}
.direction :nth-child(2) {
  width: 94px;
  height: 10px;
  color: #5b9bf3;
}
.direction :nth-child(2):hover {
  opacity: 1;
  transition-duration: 0.3s;
}
.direction :nth-child(3) {
  width: 31.429px;
  height: 20px;
}
.direction :nth-child(3):hover {
  opacity: 1;
  color: var(--light-primary);
  transition-duration: 0.3s;
}
/* ======================latest article========================= */
.latest-article {
  width: 80%;
  height: 120vh;
  margin-inline: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.top-article {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-article h2 {
  color: #000;
  font-family: "Muli", sans-serif;
  font-size: 3.6em;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
.top-article hr {
  width: 56px;
  height: 2px;
  border-radius: 5px;
  background: #000;
}
.bottom-article {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom-article div {
  width: 350px;
  height: 512px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  display: flex;
  flex-direction: column;
}
.bottom-article div:hover {
  transform: scale(1.1);
  background-color: var(--light-primary);
  transition-duration: 0.3s;
}
.bottom-article div h2 {
  color: #000;
  font-family: "Muli", sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-top: 10px;
}
.bottom-article div h2:hover {
  color: var(--primary);
  transition-duration: 0.3s;
}
.bottom-article div p {
  color: #7d7987;
  font-family: "Muli", sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.bottom-article div p:hover {
  color: var(--primary);
  transition-duration: 0.3s;
}
.bottom-article div a {
  color: #4089ed;
  font-family: "Muli", sans-serif;
  font-size: 1.7em;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-inline: auto;
  margin-top: 10px;
}
.bottom-article div a:hover {
  color: var(--primary);
  transition-duration: 0.3s;
}
.disease .image {
  width: 100%;
  height: 40vh;
  background-image: url("../image\ 2.png");
  background-position: center;
  background-size: cover;
}
.disease h2 {
  color: #000;
  font-family: "Muli", sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-top: 10px;
}
.disease p {
  color: #7d7987;
  font-family: "Muli", sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.disease a {
  color: #4089ed;
  font-family: "Muli", sans-serif;
  font-size: 1.7em;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-inline: auto;
  margin-top: 10px;
}
.herbal .image {
  width: 100%;
  height: 40vh;
  background-image: url("../image\ 3.png");
  background-position: center;
  background-size: cover;
}
.natural-care .image {
  width: 100%;
  height: 40vh;
  background-image: url("../image\ 4.png");
  background-position: center;
  background-size: cover;
}
.last-article {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.last-article a {
  width: 200px;
  height: 56px;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #458ff6;
  font-family: "Muli", sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.last-article a:hover {
  background-color: var(--light-primary);
  transition-duration: 0.3s;
  color: var(--primary);
}
/* ======================footer================================ */
.footer {
  width: 90%;
  height: 80vh;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  background-color: var(--light-primary);
}
.footer div {

  width: 25%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-footer .head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 10vh;
  margin-top: 20px;
}
.left-footer .logo {
  width: 41px;
  height: 41px;
  border-radius: 20px;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #5b9bf3;
  font-family: "Muli", sans-serif;
  font-size: 2.6em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
}
.left-footer h2 {
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.left-footer .progressive {
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin-top: 20px;
}
.left-footer .finish {
  color: var(--primary);
  font-family: "Muli", sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin-top: 20px;
  margin-left: 10px;
}
.company {
  gap: 20px;
}
.company h2 {
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin-top: 20px;
}
.company h2:hover {
  color: #000;
  transition-duration: 0.3s;
}
.company p {
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.company p:hover {
  color: #000;
  transition-duration: 0.3s;
}
.region {
  gap: 20px;
}
.region h2 {
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin-top: 20px;
}
.region h2:hover {
  color: #000;
  transition-duration: 0.3s;
}
.region p {
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.region p:hover {
  color: #000;
  transition-duration: 0.3s;
}
.help {
  gap: 20px;
}
.help h2 {
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin-top: 20px;
}
.help h2:hover{
    color: #000;
    transition-duration: 0.3s;
}

.help p {
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.help p:hover{
    color: #000;
    transition-duration: 0.3s;
}
